.nav-bar {
  display: flex;
  font-size: 14px;
}

.nav-link {
  padding: 10px !important;
}

.navs {
  width: 170px;
  text-align: center;
  color: #1677a0 !important;;
  font-size: small;
  text-transform: lowercase;
}

.navs:hover {
  color: #62aec5 !important;;
}

.nav-container {
  justify-content: space-around;
  display: flex;
  margin: 20px;
  font-family: "Merriweather", serif;
}

.nav-name {
  align-self: center;
  font-size: x-large;
  font-weight: bold;
  color: #1677a0;
}

.nav-special {
  border-radius: 25px;
  border:2px solid #1677a0 !important;
}

.container {
  margin-top: 2em;
  font-family: "Lato", serif;
}

.bodyElem {
  background-color: #d1f5f9;
  color: #1677a0;
}

.content {
  margin-right: 10px;
  margin-left: 10px;
}

.section {
  padding-bottom: 20px;
}

.section-skills {
  padding-bottom: 20px;
}

.section-work {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #1677a0;
}

.section-work-body {
  display: flex;
  flex-direction: row;
}

.section-edu-body {
  display: flex;
  justify-content: space-between;
  border-bottom: #1677a0 1px solid;
  line-height: 25px;
}

.section-edu-body-sub {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.section-edu-uni {
  font-size: medium;
}

.section-edu-deg {
  font-size: small;
  font-weight: bold;
}


.section-header {
  font-family: "Lato", sans-serif;
  font-size: medium;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0px 0px 10px;
  margin-bottom: 5px;
}

.skills-container {
  display: flex;
  margin-bottom: 15px;
  border-top: 1px dashed #1677a0;
}

.skills {
  flex-grow: 1;
  text-transform: lowercase;
  font-size: small;
}

.skills-desc {
  text-align: right;
  font-size: medium;
}

.section-content {
  padding: 20px 50px 10px 50px;
}

h1,
h2,
h3 {
  padding: 5px;
}

.card-work {
  padding: 10px;
  margin-right: 10px;
}

.card-work-header {
  display: flex;
  flex-direction: column;
  border-top: #1677a0 1px dotted;
  border-bottom: #1677a0 1px dotted;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.card-work-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.card-work-role {
  font-family: "Merriweather", serif;
  font-size: large;
  text-transform: lowercase;
  font-weight: bold;
  padding-bottom: 2px;
}

.card-work-company {
  font-size: small;
  text-transform: capitalize;
  padding-bottom: 2px;
}

.card-work-tech {
  font-size: small;
  text-transform: uppercase;
  padding-bottom: 2px;
}


.card-work-desc {
  font-size: medium;
  text-transform: lowercase;
  line-height: 30px;
  padding-bottom: 2px;
}

.cards-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-head {
  text-align: center;
  border-top: #1677a0 1px dashed;
  border-bottom: #1677a0 1px dashed;
  font-size: medium;
  text-transform: lowercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-link {
  text-align: center;
  text-decoration: none;
  font-size: large;
  color: black;
  text-transform: lowercase;
  font-weight: thin;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px dotted #1677a0;
  border-radius: 25px;
}

.card-link:hover {
  background-color: #a2dce1;
}

.card-info {
  flex-grow: 1;
  font-size: small;
  line-height: 25px;
}

.card-info p {
  padding: 10px 10px 10px 20px;
}

.card-info ul {
  padding-left: 0px;
}

.cards {
  width: 30%;
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="cards"] {
    width: 100%;
  }

  .section-work-body {
    flex-direction: column;
  }

  .card-work-title {
    flex-direction: column;
  }

  .section-edu-body {
    display: flex;
    flex-direction: column;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }
  

  [class="section-header"] {
    width: 100%;
  }
}

p strong {
  font-weight: bold;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}